/* Base global */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image: url("img/fondo.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.692);
  z-index: -1;
}
* {
  scroll-behavior: smooth;
}

/* App principal */
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

section,
.container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.mi-stack,
#acerca-de-mi,
#mis-proyectos,
#contacto {
  scroll-margin-top: 7rem;
}

.mi-stack {
  position: relative;
  overflow: hidden;
}

.shine::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: shine-move 2s ease;
}

@keyframes shine-move {
  to {
    left: 120%;
  }
}


/* Fix mobile */
@media (max-width: 768px) {
  section,
  .container {
    padding: 0.5rem;
  }
}
